.chamada {
    width: 100%;
    height: 100vh;
    background-color: rgb(95, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chamada {
    nav {
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        width: 40%;
        height: 55vh;
        display: flex;
        flex-direction: column;

        input {
            width: 50vh;
            margin-bottom: 2vh;
            border-radius:15px ;
            padding: 8px;
            border: solid 1px black;
        }

        button{
            background-color: rgb(221, 219, 219);
            outline: none;
            border: solid 1px black;
            font-weight: 700;
            padding: 8px 20px;
            margin: 5px;
            border-radius: 20px;
        }

        table{
            tbody{
                button{
                    border-radius: 5px;
                    padding: 5px;
                }
            }
        }
    }
}